@import "../../styles/var.less";

.container{
    position:relative;
    width:100%;
    min-height:100%; 
    display:flex;
    flex-wrap: wrap;

}

.swiperContainer{
    position:relative;
    width:100%;
    background:@bgColor2;
    height:444px;
    overflow:hidden;
}