.container{
    position:relative;
    width:100%;
    min-height:100%; 
    display:flex;
    flex-wrap: wrap;

}

.leftContainer{
    width:200px;
    min-height:100%;   
}

.rightContainer{
    position:relative;
    flex:1;
    background:#eee;
    height:100%;
}


:local(button){
    background:red;
}