
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}

body,textarea,input,button,select,keygen,legend,header{
    font-family: "Microsoft YaHei";
    color:#888;
    outline:0;
}
html,body{ 
    box-sizing: border-box;
    background:#fff;
    font-size:16px;
    height: 100%
}

:global(.flex){
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

:global(.flex-center){
    display:flex;
    align-items: center;
    justify-content: center;
}

:global(.ellipsis){
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:global(.translateY){
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

:global(#app){
    position:relative;
    min-height:100%;
}

:global(#loading){
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20;
    background:rgba(50,50,50,0.4);
    display:none;
}

:global(.inline-loading){
   position:relative;
   width:100%;
   height:400px;
}

a {color:#888;}
